<div id="<%= dom_id mantenimiento %>">
  <p>
    <strong>Tipo motor:</strong>
    <%= mantenimiento.tipo_motor %>
  </p>

  <p>
    <strong>Tipo mantenimiento:</strong>
    <%= mantenimiento.tipo_mantenimiento %>
  </p>

  <p>
    <strong>Motor:</strong>
    <%= mantenimiento.motor_id %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= mantenimiento.ciudad %>
  </p>

  <p>
    <strong>Materiales:</strong>
    <%= mantenimiento.materiales %>
  </p>

  <p>
    <strong>Fecha mantenimiento:</strong>
    <%= mantenimiento.fecha_mantenimiento %>
  </p>

  <p>
    <strong>Tecnico email:</strong>
    <%= mantenimiento.tecnico_email %>
  </p>

</div>
